@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

div.float-left {
    float: left;
}
a {
	text-decoration:none;
	color:inherit;
	}
.text-centering {
    text-align: center;
}

.font-weight-500 {
    font-weight: 500;
}

.main-image-wrapper {
    text-align: center;
    opacity: 0.2;
    height: 90px;
    margin: 30px 0;
}

.main-image {
    font-size: 90px;
    line-height: 200px;
}

.login-button {
    display: block;
    width: 80%;
    margin: 0 auto 0 auto;
    font-size: 18px;
}

.forgot-password {
    display: block;
    margin: 0px auto 0 auto;
    font-size: 14px;
	text-decoration:underline;
}
.sign-up {
    display: block;
    margin: 0px auto 0 auto;
    font-size: 14px;
	text-decoration:underline;
}

/*----------------- sign up ----------*/
.margin-little {
    margin: 1px;
}

.width-full {
    width: 100%;
}

.width-half {
    width: 48%;
}

.lucent {
    opacity: 0.4;
}

.note {
    margin: 12px 8px;
    font-size: 13px;
}

.vspc {
    margin-top: 20px;
}

.formarea {
    width: 90%;
    margin: 5px auto 51px auto;
}

input[type=text],
input[type=password] {
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}


